@font-face {
  font-family: "MochiBoom";
  src: url("/fonts/mochi-boom-demo.regular.ttf") format("truetype");
}

@font-face {
  font-family: "ShootingStar";
  src: url("/fonts/Shooting Star.ttf") format("truetype");
}

@font-face {
  font-family: "GaeguRegular";
  src: url("/fonts/Gaegu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GaeguBold";
  src: url("/fonts/Gaegu-Bold.ttf") format("truetype");
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
  font-family: "GaeguRegular";
  background: #1d0f38; 
  color: white;
  overflow-x: hidden;
  cursor: url("/src/assets/cursor/kuromi-cursor.png") 16 16, auto;
}

h1, .logo {
  font-family: "MochiBoom";
  color: #ff94ff;
  text-shadow: 0 0 10px #ff00ff, 0 0 25px #9900ff;
}