
@font-face {
  font-family: "Gaegu";
  src: url("/src/assets/fonts/Gaegu-Regular.ttf");
}

@font-face {
  font-family: "Gaegu-Bold";
  src: url("/src/assets/fonts/Gaegu-Bold.ttf");
}

@font-face {
  font-family: "mochi-boom-demo.regular";
  src: url("/src/assets/fonts/mochi-boom-demo.regular.ttf");
}

@font-face {
  font-family: "ShootingStar";
  src: url("/src/assets/fonts/Shooting Star.ttf");
}

/* 🎀 Kuromi Theme Variables */
:root {
  --kuromi-bg: #1a102d;
  --kuromi-card: rgba(34, 0, 63, 0.7);
  --kuromi-black: #0b0614;

  --kuromi-purple: #7d2ae8;
  --kuromi-purple-light: #b15fff;

  --kuromi-pink: #ff9df2;

  --kuromi-glass: rgba(255,255,255,0.12);
  --kuromi-border: rgba(255,255,255,0.2);

  --kuromi-star: #ffd447;
  --kuromi-text: #ffffff;
}

body {
  background-color: var(--kuromi-bg);
  color: var(--kuromi-text);
  margin: 0;
  font-family: "Gaegu", sans-serif; 
}
